---
import { getCollection, render } from "astro:content";
import Layout from "../../../layouts/Layout.astro";
import readingTime from "reading-time";
import TableOfContents from "../../../components/TableOfContents.astro";

export async function getStaticPaths() {
    const posts = await getCollection("blog");

    return posts.map((post) => {
        return {
            params: {
                category: post.data.category || "uncategorized",
                slug: post.slug,
            },
            props: { post },
        };
    });
}

const { Content, headings } = await render(Astro.props.post);

const stats = readingTime(Astro.props.post.body);
---

<Layout>
    <div class="relative max-w-4xl mx-auto p-6 leading-loose">
        <TableOfContents headings={headings} />
        <h1
            class="text-3xl md:text-4xl text-accent font-[ocra] text-center leading-tight break-words"
        >
            {Astro.props.post.data.title}
        </h1>
        <p class="font-space text-xl text-grey mt-2 text-center font-semibold">
            {Astro.props.post.data.author} •
            {
                Astro.props.post.data.date.toLocaleDateString("en-US", {
                    weekday: "long",
                    year: "numeric",
                    month: "long",
                    day: "numeric",
                })
            } • {stats.words} words • {stats.text}
        </p>
        <article
            class="prose md:prose-lg dark:prose-invert max-w-3xl font-space mt-4 mx-auto"
        >
            <Content />
        </article>
    </div>
</Layout>
